@import "sass/materialize.scss";
@import "helpers/flex-behavior";
@import "helpers/padding-margin.scss";
@import "helpers/sizing.scss";
@import "helpers/scrollbar.scss";

$m-dark-gray: #161616;
$undernav-height: 40px;

html {
  scroll-behavior: smooth;
}

nav {
  background-color: $m-dark-gray;
  z-index: 1000;
}

body {
  padding-top: calc(#{$undernav-height} + #{$navbar-height-mobile});
}

.demo-screenshot {
  width: 100%;
  height: auto;
}

.table-cell {
  display: table-cell;
}

.position-fixed-top {
  position: fixed;
  top: 0;
}

.nav-wrapper img, .nav-wrapper a {
  height: $navbar-height-mobile;
}

.undernav {
  height: calc(#{$undernav-height} + #{$navbar-height-mobile});
  line-height: $undernav-height;
}

.undernav-links {
  display: flex;
}

@media only screen and (min-width: 601px) {
  body {
    padding-top: calc(#{$undernav-height} + #{$navbar-height});
  }

  .nav-wrapper img, .nav-wrapper a {
    height: $navbar-height;
  }

  .undernav {
    height: calc(#{$undernav-height} + #{$navbar-height});
  }
}

@media only screen and (min-width: 991px) {
  body {
    padding-top: $navbar-height;;
  }

  .undernav {
    height: $navbar-height;
  }

  .undernav-links {
    display: none;
  }
}

.transition-link {
  color: color("indigo", "darken-2");
  transition: color 0.3s;
  transition: font-size 0.1s;
}

.transition-link:hover {
  color: color("blue", "lighten-1");
  font-size: 1.2em;
}

.transition-link-light {
  color: color("blue", "lighten-1");
  transition: color 0.3s;
  transition: font-size 0.1s;
}

.transition-link-light:hover {
  color: color("indigo", "ligthen-1");
  font-size: 1.2em;
}

.layer-10 {
  z-index: 10;
}

.layer-9 {
  z-index: 9;
}

.layer-8 {
  z-index: 8;
}

.layer-7 {
  z-index: 7;
}

.layer-6 {
  z-index: 6;
}

.layer-5 {
  z-index: 5;
}

.layer-4 {
  z-index: 4;
}

.layer-3 {
  z-index: 3;
}

.layer-2 {
  z-index: 2;
}

.layer-1 {
  z-index: 1;
}

.layer-0 {
  z-index: 0;
}

.relative-position {
  position: relative;
}