@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
$main-font: 'Quicksand', sans-serif;
$background-color-info: #2a577c;
$background-color-projects: #576879;
$main-text-color: #0f0f0f;

.App {
  font-family: $main-font;
  height: 100vh;
  width: 100%;
  display: flex;
}

.bold-1 {
  font-weight: 500;
}

.bold-2 {
  font-weight: 600;
}

.paper-shadow-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.paper-shadow-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.paper-shadow-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

.paper-shadow-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}

.paper-shadow-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.my-info {
  h1 {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 8vh;
  }
  .my-info-container {
    .basic-info-container {
      img {
        width: 25%;
        height: auto;
      }
      .basic-info {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        line-height: 1.5em;
      }
      display: flex;
      width: 100%;
      height: auto;
      color: $main-text-color;
      align-items: center;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 3.5%;
    box-sizing: border-box;
    width: 70%;
    height: 300px;
  }
  .other-info-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    text-decoration: none;
  }
  display: flex;
  flex-direction: column;
  background-color: $background-color-info;
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.projects-container {
  background-color: $background-color-projects;
  height: 100%;
  flex: 1;
  z-index: 0;
}