.p-0 { padding: 0em !important; }

.p-1 { padding: 1em !important; }

.p-2 { padding: 2em !important; }

.p-3 { padding: 3em !important; }

.p-4 { padding: 4em !important; }

.p-5 { padding: 5em !important; }

.m-0 { margin: 0em !important; }

.m-1 { margin: 1em !important; }

.m-2 { margin: 2em !important; }

.m-3 { margin: 3em !important; }

.m-4 { margin: 4em !important; }

.m-5 { margin: 5em !important; }

.pt-0 { padding-top: 0em !important; }

.pt-1 { padding-top: 1em !important; }

.pt-2 { padding-top: 2em !important; }

.pt-3 { padding-top: 3em !important; }

.pt-4 { padding-top: 4em !important; }

.pt-5 { padding-top: 5em !important; }

.mt-0 { margin-top: 0em !important; }

.mt-1 { margin-top: 1em !important; }

.mt-2 { margin-top: 2em !important; }

.mt-3 { margin-top: 3em !important; }

.mt-4 { margin-top: 4em !important; }

.mt-5 { margin-top: 5em !important; }

.pb-0 { padding-bottom: 0em !important; }

.pb-1 { padding-bottom: 1em !important; }

.pb-2 { padding-bottom: 2em !important; }

.pb-3 { padding-bottom: 3em !important; }

.pb-4 { padding-bottom: 4em !important; }

.pb-5 { padding-bottom: 5em !important; }

.mb-0 { margin-bottom: 0em !important; }

.mb-1 { margin-bottom: 1em !important; }

.mb-2 { margin-bottom: 2em !important; }

.mb-3 { margin-bottom: 3em !important; }

.mb-4 { margin-bottom: 4em !important; }

.mb-5 { margin-bottom: 5em !important; }

.py-0 { 
  padding-top: 0em !important; 
  padding-bottom: 0em !important; 
}

.py-1 { 
  padding-top: 1em !important; 
  padding-bottom: 1em !important; 
}

.py-2 { 
  padding-top: 2em !important; 
  padding-bottom: 2em !important; 
}

.py-3 { 
  padding-top: 3em !important; 
  padding-bottom: 3em !important; 
}

.py-4 { 
  padding-top: 4em !important; 
  padding-bottom: 4em !important; 
}

.py-5 { 
  padding-top: 5em !important; 
  padding-bottom: 5em !important; 
}

.py-auto { 
  padding-top: auto !important; 
  padding-bottom: auto !important; 
}

.my-0 { 
  margin-top: 0em !important; 
  margin-bottom: 0em !important; 
}

.my-1 { 
  margin-top: 1em !important; 
  margin-bottom: 1em !important; 
}

.my-2 { 
  margin-top: 2em !important; 
  margin-bottom: 2em !important; 
}

.my-3 { 
  margin-top: 3em !important; 
  margin-bottom: 3em !important; 
}

.my-4 { 
  margin-top: 4em !important; 
  margin-bottom: 4em !important; 
}

.my-5 { 
  margin-top: 5em !important; 
  margin-bottom: 5em !important; 
}

.px-0 { 
  padding-left: 0em !important; 
  padding-right: 0em !important; 
}

.px-1 { 
  padding-left: 1em !important; 
  padding-right: 1em !important; 
}

.px-2 { 
  padding-left: 2em !important; 
  padding-right: 2em !important; 
}

.px-3 { 
  padding-left: 3em !important; 
  padding-right: 3em !important; 
}

.px-4 { 
  padding-left: 4em !important; 
  padding-right: 4em !important; 
}

.px-5 { 
  padding-left: 5em !important; 
  padding-right: 5em !important; 
}

.mx-0 { 
  margin-top: 0em !important; 
  margin-right: 0em !important; 
}

.mx-1 { 
  margin-top: 1em !important; 
  margin-right: 1em !important; 
}

.mx-2 { 
  margin-top: 2em !important; 
  margin-right: 2em !important; 
}

.mx-3 { 
  margin-top: 3em !important; 
  margin-right: 3em !important; 
}

.mx-4 { 
  margin-top: 4em !important; 
  margin-right: 4em !important; 
}

.mx-5 { 
  margin-top: 5em !important; 
  margin-right: 5em !important; 
}