::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: color("indigo", "lighten-2"); ; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: color("indigo", "darken-2"); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: color("indigo", "lighten-3"); 
}